[submodule "warpcore"]
	path = warpcore
	url = https://github.com/sleeepyjack/warpcore.git
[submodule "BGHT"]
	path = BGHT
	url = https://github.com/owensgroup/BGHT.git
[submodule "SlabHash"]
	path = SlabHash
	url = https://github.com/owensgroup/SlabHash.git
